<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <style>
    * {
      /* cursor: none; */
    }

    canvas {
      /* width: 100vw; *
      
      cursor: none; 
      /* width: 100vw !important;
      height: 100vh !important; */
      display: block;
    }

    body {
      margin: 0;
      background-color: #000
    }

  </style>
</head>

<body>
  <!-- app scripts will be injected here automatically -->
</body>

</html>
